{% extends "base.html" %}

{% block content %}
<section>
  <button class="action-button" id="open-mood-dialog">Add Current Mood</button>

  <dialog id="add-mood-form">
    <h3>How are you feeling?</h3>
    <form action="/" method="POST">
      {% csrf_token %}
      <div class="form-row">
        {% if all_moods %}
        <select name="selected_mood">
        {% for mood in all_moods %}
            <option value="{{ mood.0 }}"> {{ mood.1 }} </option>
        {% endfor %}
        </select>
        {% else %}
            <p>No Moods have been saved.</p>
        {% endif %}
      </div>
      <div class="form-row">
        <textarea name="details"></textarea>
      </div>
      <div class="form-row">
        <button>Save</button>
        <button class="close">Cancel</button>
      </div>
    </form>
  </dialog>
</section>
<section>
  <h2>Past Moods</h2>
  {% if past_moods %}
    <ul class="mood-list">
  {% for mood in past_moods %}
      <li>{{ mood.get_selected_mood_display  }} - {{ mood.details }} @  {{ mood.enteredOn }} </li>
  {% endfor %}
  </ul>
  {% else %}
      <p>No Moods have been saved.</p>
  {% endif %}
  <div>

  </div>
</section>
{% endblock %}