{% extends "base.html" %}

{% block title %}
    User Profile - {{ block.super }}
{% endblock %}

{% block content %}
  {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <h2>Account Details <a href="{% url 'profile_edit'%}" class="action-button small spaced">Edit</a></h2>
  <div>
    <div>
      <label>First Name:</label> {{ user.first_name }}
    </div>
    <div>
      <label>Last Name:</label> {{ user.last_name }}
    </div>
    <div>
      <label>Email:</label> {{ user.email }}
    </div>
    <div>
      <label>Username:</label> {{ user.username }}
    </div>
  </div>
{% endblock %}